<div class="footer">
  <div class="footer-desktop">
    <span class="text-title-1">Creatic</span>
    <span class="text-title-2">CREATIVE AGENCY</span>
    <span class="line"></span>
    <ul>
      <li>Categories</li>
      <li>About</li>
      <li>Services</li>
      <li>Portfolio</li>
      <li>Pages</li>
      <li>Support</li>
    </ul>
    <span class="text-main">Lorem ipsum Neque porro quisquam est qui do lorem ipsum quia dolor sit amet,  Neque porro elit NeDque   </span>
    <div class="footer-link">
      <a href="">
        <img src="../../assets/icons/facebook.png" alt="">
      </a>
      <a href="">
        <img src="../../assets/icons/instagram.png" alt="">
      </a>
      <a href="">
        <img src="../../assets/icons/call.png" alt="">
      </a>
      <a href="">
        <img src="../../assets/icons/in.png" alt="">
      </a>
      <a href="">
        <img src="../../assets/icons/pinterest.png" alt="">
      </a>
      <a href="">
        <img src="../../assets/icons/twitter.png" alt="">
      </a>
    </div>
    <div class="footer-end">
      <span class="text-end">Copyright © 2003-2023 Creatic Agency All rights reserved.</span>
    </div>
  </div>
</div>
