<div class="whyus">
  <div class="whyus-desktop">
    <div class="whyus-left">
      <span class="text-title">why us?</span>
      <span class="line"></span>
      <span class="text-main">25 years of <span style="color: #6D95FC">experience</span> as a creative agency</span>
      <input class="input-touch" type="submit" value="READ MORE">
    </div>
    <div class="whyus-right">
      <span class="text-title">Lorem ipsum Neque porro quisquam est qui do lorem ipsum quia dolor sit amet,  Neque porro elit NeDque porro  Lorem ipsum</span>
      <ul>
        <li>Happy Customer</li>
        <li>Experienced Team</li>
        <li>Modern Technology</li>
      </ul>
    </div>
  </div>
</div>
