<div class="main">
  <div class="main-desktop">
    <div class="main-left">
      <img src="/assets/imgs/about.png" alt="img-robot">
    </div>
    <div class="main-right">
      <span class="text-top">About US</span>
      <span class="text-main">WE BRING <span style="color: #6D95FC">CREATIVE</span> ideas to life.</span>
      <div class="line"></div>
      <span class="text">We love Creating</span>
      <span class="text-info">Lorem ipsumNeque porro quisquam est qui do lorem ipsum quia dolor sit amet, Neque porro elit NeDque porro Lorem ipsum Neque porro<br><br>Neque porro Neque porro quisquam est qui do lorem ipsum quia dolor sit amet, Lorem ipsum Neque quis ipsum</span>
      <input class="input-touch" type="submit" value="READ MORE">
    </div>
  </div>
</div>
