<div class="clients">
  <div class="clients-desktop">
    <div class="img-left">
      <img src="../../assets/imgs/client-left.png" alt="">
    </div>
    <div class="clients-mid">
      <span class="text-title">WHAT <span style="color: #6D95FC;">OUR</span> CLIENTS SAY?</span>
      <span class="line"></span>
      <span class="text-info">TESTIMONIALS</span>
      <div class="card-mid">
        <span class="text-client-info">Lorem ipsum Neque porro quisquam est qui do lorem ipsum quia dolor sit amet,  Neque porro elit</span>
        <div class="card-img">
          <img src="../../assets/imgs/client-2.png" alt="">
          <div class="card-info">
            <span class="text-name">Carol Chaves</span>
            <p class="text-address">@caroles.gmail.com</p>
          </div>
        </div>
      </div>
      <div class="btn-submit">
        <input class="button" type="submit" value="VIEW ALL TESTIMONIALS">
      </div>
    </div>
    <div class="img-right">
      <img src="../../assets/imgs/client-right.png" alt="">
    </div>
  </div>
</div>
