<div class="projects">
  <div class="projects-desktop">
    <span class="text-title">ENJOY OUR <span style="color: #6D95FC"> LATEST </span> PROJECTS</span>
    <div class="text-work">
      <div class="line"></div>
      <span class="text">OUR WORK</span>
      <div class="line"></div>
    </div>
    <div class="imgs">
      <img class="project-img-lr" src="/assets/imgs/project-1.png" alt="">
      <img class="project-img-mid" src="/assets/imgs/project-2.png" alt="">
      <img class="project-img-lr" src="/assets/imgs/project-3.png" alt="">
    </div>
    <div class="button-4">
      <span class="button"></span>
      <span class="button"></span>
      <span class="button"></span>
      <span class="button"></span>
    </div>
  </div>
</div>
