<div class="touch">
  <div class="touch-desktop">
    <div class="touch-left">
      <span class="text-title">Get in <span style="color: #6D95FC;">TOUCH</span></span>
      <span class="line"></span>
      <span class="text-main">Lorem ipsum Neque porro quisquam est qui do lorem ipsum quia dolor sit amet,  Neque porro elit NeDque porro</span>
      <ul>
        <li class="li-address">
          <span class="text-li">Office Address</span>
          <p class="text-li-bottom">98, Arca St, PR City, 33414 , Indonesia</p>
        </li>
        <li class="li-call">
          <span class="text-li">Call Us</span>
          <p class="text-li-bottom">(+BK) 123 456 7891</p>
        </li>
        <li class="li-gmail">
          <span class="text-li">Mail Us</span>
          <p class="text-li-bottom">info@creaticagency.com</p>
        </li>
      </ul>
    </div>
    <div class="touch-right">
      <div class="touch-massage">
        <span class="label-input">YOUR NAME</span>
        <input class="input-name">
        <span class="label-input">YOUR EMAIL</span>
        <input class="input-email">
        <span class="label-input">YOUR MESSAGE</span>
        <input class="input-message">
        <input class="button-message" type="submit" value="SEND MESSAGE">
      </div>
    </div>
  </div>
</div>
