<div class="rating _grad">
  <div class="raring-desktop">
    <div class="rating__box">
      <div class="box">
        <img src="/assets/icons/rating-box-1.png" alt="">
        <span class="text-title">50+</span>
        <span class="text-box">Team members</span>
      </div>
      <div class="box">
          <img src="/assets/icons/rating-box-2.png" alt="">
        <span class="text-title">200+</span>
        <span class="text-box">Project done</span>
      </div>
      <div class="box">
        <img src="/assets/icons/rating-box-3.png" alt="">
        <span class="text-title">500+</span>
        <span class="text-box">Happy customers</span>
      </div>
      <div class="box">
        <img src="/assets/icons/rating-box-4.png" alt="">
        <span class="text-title">75+</span>
        <span class="text-box">Award Winning</span>
      </div>
    </div>
  </div>
</div>
