<div class="services">
  <div class="services-desktop">
    <div class="services-left">
      <span class="text-top">our services</span>
      <span class="text-main">Experience the power of <span style="color: #6D95FC">Innovation</span>.</span>
      <div class="line"></div>
      <span class="text-info">Lorem ipsumNeque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit Neque porro elit Neque porro quis ipsum</span>
      <input class="input-touch" type="submit" value="VIEW ALL">
    </div>
    <div class="services-right">
      <div class="box _black">
        <img src="/assets/icons/box-1.png" alt="">
        <span class="text-title">VIDEO MARKETING</span>
        <span class="text-box">Lorem ipsum Neque do porro quisquam est qui do quam</span>
      </div>
      <div class="box _blue">
        <img src="/assets/icons/box-2.png" alt="">
        <span class="text-title">Graphic Design</span>
        <span class="text-box">Lorem ipsum Neque do porro quisquam est qui do quam</span>
      </div>
      <div class="box _blue">
        <img src="/assets/icons/box-3.png" alt="">
        <span class="text-title">ui/ux Design</span>
        <span class="text-box">Lorem ipsum Neque do porro quisquam est qui do quam</span>
      </div>
      <div class="box _black">
        <img src="/assets/icons/box-4.png" alt="">
        <span class="text-title">WEBSITE DESIGN</span>
        <span class="text-box">Lorem ipsum Neque do porro quisquam est qui do quam</span>
      </div>
    </div>
  </div>
</div>
