<main class="main">
  <div class="main-desktop container">
    <div class="main-left">
      <span class="text-top">Welcome to creatic</span>
      <span class="text-main">WE ARE <span style="color: #6D95FC">CREATIVE</span> DESIGN AGENCY</span>
      <div class="line"></div>
      <span class="text-info">Lorem ipsumNeque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit Neque porro elit Neque porro quis ipsum</span>
      <input class="input-touch" type="submit" value="GET IN TOUCH">
    </div>
    <div class="main-right">
      <img src="/assets/imgs/home-img.png" alt="main-img">
    </div>
  </div>
</main>
